{
    "server_id"                     : "AndruavLap",
    "server_ip"                     : "::",
    "public_host"                   : "127.0.0.1",
    "server_sid"                    : 0,
    "server_port"                   : 9966,
    "enable_SSL"                    : true,
    "dbIP"                          : "localhost",
    "dbuser"                        : "DBUSER",
    "dbpassword"                    : "DBPASSWORD",
    "dbdatabase"                    : "andruav",
    "s2s_ws_target_ip"              : "127.0.0.1",
    "s2s_ws_target_port"            : "19001",
    "ssl_key_file"                  : "./ssl/privkey.pem",
    "ssl_cert_file"                 : "./ssl/fullchain.pem",     
    "allow_fake_SSL"                : true,                                                                                       
    "ca_cert_path"                  :"/home/pi/ssl/root.crt",
    "ignoreLoadingTasks"            : true,
    "allow_udpproxy_fixed_port"     : true,
    // logging
    "ignoreLog"                 : true,
    "log_directory"             : "./logs/",
    "log_timeZone"              : "GMT",
    "log_detailed"              : true,

    "ws_compression"            : false,
    //server reboot - reboot server when process memory exceeds a certain limit.
    //"memory_max"                : 373       // in MB  

}
