{
    "server_id"                     : "ArdupilotLap",
    "server_ip"                     : "0.0.0.0", 
    "public_host"                   : "127.0.0.1",
    "server_port"                   : 9966,
    "enable_SSL"                    : true,
    "dbIP"                          : "173.17.0.3", 
    "dbuser"                        : "andruav",
    "dbpassword"                    : "kaware3",
    "dbdatabase"                    : "andruav",
    "s2s_ws_target_ip"              : "127.0.0.1",
    "s2s_ws_target_port"            : "19001",
    "ssl_key_file"                  : "./ssl/domain.key",
    "ssl_cert_file"                 : "./ssl/domain.crt",  
    "allow_fake_SSL"                : true, // https://stackoverflow.com/questions/23601989/client-certificate-validation-on-server-side-depth-zero-self-signed-cert-error
    "ignoreLoadingTasks"            : false,
    "allow_udpproxy_fixed_port"     : true,
    
    // logging
    "ignoreLog"                 : true,
    "log_directory"             : "./logs/",
    "log_timeZone"              : "GMT",
    "log_detailed"              : true,

    //server reboot
    "memory_max"                : 373       // in MB

}
	
