{
    "server_id"                     : "AndruavLap",
    "server_ip"                     : "::",
    "public_host"                   : "cloud.ardupilot.com",
    "server_sid"                    : 0,
    "server_port"                   : 9966,
    "webadmin_port_enable"          : true,
    "enable_SSL"                    : true,
    "dbIP"                          : "localhost",
    "dbuser"                        : "andruav",
    "dbpassword"                    : "kaware3",
    "dbdatabase"                    : "andruav",
    "s2s_ws_target_ip"              : "127.0.0.1",
    "s2s_ws_target_port"            : "19001",
    "ssl_key_file"                  : "./ssl/example.key",
    "ssl_cert_file"                 : "./ssl/example.crt",
    "allow_fake_SSL"                : true,                                                                                       
    "ignoreDB"                      : false,
    "ignoreDBRegister"              : true,
    "applyDBServerSettings"         : false,
    "ignoreLoadingTasks"            : false,
    "andruav_control_module"        : "./andruavControl.js",
}
