{
    "server_id"                      : "SuperServer",
    "server_ip"                      : "0.0.0.0", 
    "public_host"                    : "192.168.1.144",
    "server_port"                    : 9966,
    "enable_SSL"                     : true,
    "dbIP"                           : "173.17.0.3", 
    "dbuser"                         : "andruav",
    "dbpassword"                     : "kaware3",
    "dbdatabase"                     : "andruav",
    "s2s_ws_target_ip"               : "127.0.0.1",
    "s2s_ws_target_port"             : "19001",
    "ssl_key_file"                   : "./ssl/privkey.pem",
    "ssl_cert_file"                  : "./ssl/fullchain.pem",     
    "allow_fake_SSL"                 : true, // https://stackoverflow.com/questions/23601989/client-certificate-validation-on-server-side-depth-zero-self-signed-cert-error
    "ignoreLoadingTasks"             : false,
    "allow_udpproxy_fixed_port"      : true,
    
    // Super Server
    "s2s_super_server_ip"            : "127.0.0.1",
    "s2s_super_server_port"          : "9866",
    "enable_super_server"            : true,
    
    "enable_persistant_relay"        : false,    // connect to 
    "s2s_relay_to_super_server_ip"   : "127.0.0.1",
    "s2s_relay_to_super_server_port" : "9866",
    
    // Local Server
    "local_server_enabled"           : false,
    "ignore_auth_server"             : false,
    "local_server_account_id"        : "1xx",
    


    // logging
    "ignoreLog"                 : true,
    "log_directory"             : "./logs/",
    "log_timeZone"              : "GMT",
    "log_detailed"              : true,

    //server reboot
    "memory_max"                : 373       // in MB

}
	
